.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr; /* Навігація в 1 колонку, контент в 3 колонки */
    grid-template-rows: 100px 20px 1fr auto; /* Хедер 100px, контент займає доступний простір */
    grid-template-areas: 
        "header header"
        "horizontal horizontal"
        "nav content"
        "footer footer";
    gap: 10px; /* Відступ між сітковими областями */
    height: 100vh; /* Висота контейнера для зайняття всього видимого простору */
}

header {
    grid-area: header;
    background-color: aqua;
    }
nav#horizontal-menu {
        grid-area: horizontal;
        background-color: lightgray;
    }
nav#left-menu {
        grid-area: nav;
        background-color: yellow;
    }
main {
    grid-area: content;
        background-color: lightgray;
    }
footer {
    grid-area: footer;
    background-color: bisque;
}

nav#horizontal-menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav#horizontal-menu ul li {
    display: inline-block;
    margin-right: 10px;
}

nav#horizontal-menu ul li a {
    text-decoration: none;
    padding: 5px;
    background-color: chartreuse;
    color: black;
    border-radius: 5px;
}

nav#horizontal-menu ul li a:hover {
    text-decoration: underline;
    background-color: yellow;
}

div#catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

div#catalog div.item {
    flex-basis: calc(25% - 20px);
    background-color: yellow;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 8px #555;
    text-align: center;
    box-sizing: border-box;
}

div#catalog div.item img {
    height: 200px;
    border: 1px gray solid;
    border-radius: 10px;
    opacity: 0.5;
}

div#catalog div.item img:hover {
    opacity: 1;
    border: 1px gray dotted;
}

@media (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 20px 100px auto auto; /* Хедер 100px, контент займає доступний простір */
        grid-template-areas: 
            "header"
            "horizontal"
            "nav"
            "content" 
            "footer";
        gap: 1px; /* Відступ між сітковими областями */


        div#catalog div.item {
            flex-basis: 90%;
            margin: 1px;
            margin-bottom: 10px;
        }
    }
}